<kt-portlet>
	<kt-portlet-body>
		<!--begin: Wizard -->
		<div #wizard class="kt-grid kt-wizard-v3 kt-wizard-v3--white" id="kt_wizard_v3" data-ktwizard-state="step-first">
			<div class="kt-grid__item">
				<!--begin: Form Wizard Nav -->
				<div class="kt-wizard-v3__nav">
					<div class="kt-wizard-v3__nav-items">
						<a class="kt-wizard-v3__nav-item" href="javascript:;" data-ktwizard-type="step" data-ktwizard-state="current">
							<div class="kt-wizard-v3__nav-body">
								<div class="kt-wizard-v3__nav-label">
									<span>1</span>Evaluation
								</div>
								<div class="kt-wizard-v3__nav-bar"></div>
							</div>
						</a>
						<a class="kt-wizard-v3__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v3__nav-body">
								<div class="kt-wizard-v3__nav-label">
									<span>2</span> Fixation des nouveaux objectifs
								</div>
								<div class="kt-wizard-v3__nav-bar"></div>
							</div>
						</a>
						<a class="kt-wizard-v3__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v3__nav-body">
								<div class="kt-wizard-v3__nav-label">
									<span>3</span> Evaluation des compétences
								</div>
								<div class="kt-wizard-v3__nav-bar"></div>
							</div>
						</a>
						<a class="kt-wizard-v3__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v3__nav-body">
								<div class="kt-wizard-v3__nav-label">
									<span>4</span> Projet Professionel
								</div>
								<div class="kt-wizard-v3__nav-bar"></div>
							</div>
						</a>
						<a class="kt-wizard-v3__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v3__nav-body">
								<div class="kt-wizard-v3__nav-label">
									<span>5</span> Clôture
								</div>
								<div class="kt-wizard-v3__nav-bar"></div>
							</div>
						</a>
					</div>
				</div>
				<!--end: Form Wizard Nav -->
			</div>

			<div [hidden]="!message" class="alert alert-{{type}}" role="alert" #alertNotice>
				<div class="alert-text" [innerHTML]="message"></div>
			</div>


			<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v3__wrapper">
				<!--begin: Form Wizard Form-->
				<div class="kt-form" id="kt_form">

					<!--begin: Form Wizard Step 1-->
					<div class="kt-wizard-v3__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v3__form">
					<app-evaluation [collaborateur]="collaborateur" [objectifs]="objectifs"></app-evaluation>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 1-->


					<!--begin: Form Wizard Step 2-->
					<div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
						<app-fixing-objectifs [collaborateur]="collaborateur"></app-fixing-objectifs>
					</div>
					<!--end: Form Wizard Step 2-->

					<!--begin: Form Wizard Step 3-->
					<div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
						<app-evaluation-competences></app-evaluation-competences>
					</div>
					<!--end: Form Wizard Step 3-->


					<!--begin: Form Wizard Step 4-->
					<div class="kt-wizard-v3__content" data-ktwizard-type="step-content">

							<app-fixing-project></app-fixing-project>
					</div>
					<!--end: Form Wizard Step 4-->
					

					<!--begin: Form Wizard Step 5-->
					<div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v3__form">
								<div class="form-group">
									<div>
										<label>Des Remarques ?</label>
										<textarea class="form-control" placeholder="remarque ... " name="feedback" [(ngModel)]="feedback"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 5-->




					<!--begin: Form Actions -->
					<div class="kt-form__actions">
						<div data-ktwizard-type="action-prev">
							<td><button (click)="retour()" class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">Retour
								</button></td>
						</div>
						<div (click)="onSubmit()" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
							Valider
						</div>
						<div data-ktwizard-type="action-next">
								<td><button (click)="suivant()" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
					Suivant
				</button></td>
						</div>
					</div>
					<!--end: Form Actions -->
				</div>
				<!--end: Form Wizard Form-->
			</div>
		</div>
		<!--end: Wizard -->

	</kt-portlet-body>
</kt-portlet>
