<kt-portlet>
	<kt-portlet-body>
		<!--begin: Wizard -->
		<div #wizard class="kt-grid kt-wizard-v3 kt-wizard-v3--white" id="kt_wizard_v3" data-ktwizard-state="step-first">
			<div class="kt-grid__item">
				<!--begin: Form Wizard Nav -->
				<div class="kt-wizard-v3__nav">
					<div class="kt-wizard-v3__nav-items">
						<a class="kt-wizard-v3__nav-item" href="javascript:;" data-ktwizard-type="step" data-ktwizard-state="current">
							<div class="kt-wizard-v3__nav-body">
								<div class="kt-wizard-v3__nav-label">
									Auto Evaluation
								</div>
								<div class="kt-wizard-v3__nav-bar"></div>
							</div>
						</a>
					</div>
				</div>
				<!--end: Form Wizard Nav -->
			</div>
			<div [hidden]="!message" class="alert alert-{{type}}" role="alert" #alertNotice>
				<div class="alert-text" [innerHTML]="message"></div>
			</div>




			<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v3__wrapper">
				<!--begin: Form Wizard Form-->
				<div class="kt-form" id="kt_form">
					<!--begin: Form Wizard Step 1-->
					<div class="kt-wizard-v3__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
						<!-- <div class="kt-heading kt-heading--md">AUTO EVALUATION</div> -->
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v3__form">
								<div class="row">
									<div class="col-lg-12 grid-margin stretch-card">
										<div class="card">
											<div class="card-body">
												<h4 class="card-title text-center">Evaluation des objectifs individuel
												</h4>
												<br><br>
												<div class="search-hero">
													<input class="form-control" type="text" name="search" [(ngModel)]="searchText" 
													autocomplete="off" placeholder="Rechercher">
												  </div>
												<div class="table-responsive">
													<table class="table table-striped table-hover" matSort>
														<thead>
															<tr>
																<th>
																	Designation
																</th>
																<th>
																	AutoEvaluation
																</th>
																<th>
																	Commentaire
																</th>
															</tr>
														</thead>
														<tbody>
															<tr *ngFor="let objectif of objectifs |filter:searchText  ; let i = index ">
																<td>
																	{{objectif.designation}}
																</td>
																<td>
																	<mat-select (change)="change(objectif)" class="form-control" name="x" [(ngModel)]="objectif.autoEvaluation">
																		<!-- <mat-option value={{objectif.autoEvaluation}} selected>
																			{{objectif.autoEvaluation}}</mat-option>
																		<mat-option value="Performance à amelioré">Performance à
																			ameliore</mat-option>
																		<mat-option value="Zone de conformite">Zone de
																			conformite</mat-option>
																		<mat-option value="Objectif dépassé">Objectif
																			dépassé</mat-option>
																		<mat-option value="Performance exceptionnelle">
																			Performance exceptionnelle </mat-option> -->
																			<mat-option *ngFor="let eval of evaluations" [value]="eval.designation"
																			ng-reflect-value="eval.designation">
																			{{ eval.designation }}
																		  </mat-option>
																	</mat-select>
																</td>
																<td>
																	<textarea (change)="change(objectif)" class="form-control" placeholder="commentaire" name="y" [(ngModel)]="objectif.commentaire">
																	 </textarea>
																</td>
															</tr>
														</tbody>
														<!-- Row shown when there is no matching data. -->
														<tr class="mat-row" *matNoDataRow>
															<td class="mat-cell" colspan="4">Aucun résultat pour "{{input.value}}"</td>
														</tr>
													</table>
													<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
												</div>
											</div>
										</div>
									</div>
								</div>
								<br><br>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 1-->
					<!--begin: Form Actions -->
					<div class="kt-form__actions">
						<div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
							Previous
						</div>
						<div data-ktwizard-type="action-next">
							<button (click)="autoEvaluate()" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
								Auto Evaluate
							</button>
						</div>
					</div>
					<!--end: Form Actions -->
				</div>
				<!--end: Form Wizard Form-->
			</div>
		</div>
		<!--end: Wizard -->

	</kt-portlet-body>
</kt-portlet>
