<kt-portlet>
        <kt-portlet-body>
    
            <!--begin: Wizard -->
            <div #wizard class="kt-grid kt-wizard-v3 kt-wizard-v3--white" id="kt_wizard_v3" data-ktwizard-state="step-first">
                <div class="kt-grid__item">
                    <!--begin: Form Wizard Nav -->
                    <div class="kt-wizard-v3__nav">
                        <div class="kt-wizard-v3__nav-items">
                            <a class="kt-wizard-v3__nav-item" href="javascript:;" data-ktwizard-type="step" data-ktwizard-state="current">
                                <div class="kt-wizard-v3__nav-body">
                                    <div class="kt-wizard-v3__nav-label">
                                        <span>1</span> Auto évaluation 
                                    </div>
                                    <div class="kt-wizard-v3__nav-bar"></div>
                                </div>
                            </a>
                            <a class="kt-wizard-v3__nav-item" href="javascript:;" data-ktwizard-type="step">
                                <div class="kt-wizard-v3__nav-body">
                                    <div class="kt-wizard-v3__nav-label">
                                        <span>2</span> Entretien individuel
                                    </div>
                                    <div class="kt-wizard-v3__nav-bar"></div>
                                </div>
                            </a>
                            <a class="kt-wizard-v3__nav-item" href="javascript:;" data-ktwizard-type="step">
                                <div class="kt-wizard-v3__nav-body">
                                    <div class="kt-wizard-v3__nav-label">
                                        <span>3</span> Validation Manager
                                    </div>
                                    <div class="kt-wizard-v3__nav-bar"></div>
                                </div>
                            </a>
                            <a class="kt-wizard-v3__nav-item" href="javascript:;" data-ktwizard-type="step">
                                <div class="kt-wizard-v3__nav-body">
                                    <div class="kt-wizard-v3__nav-label">
                                        <span>4</span> Validation Collaborateur
                                    </div>
                                    <div class="kt-wizard-v3__nav-bar"></div>
                                </div>
                            </a>
                            <a class="kt-wizard-v3__nav-item" href="javascript:;" data-ktwizard-type="step">
                                <div class="kt-wizard-v3__nav-body">
                                    <div class="kt-wizard-v3__nav-label">
                                        <span>5</span> Clôture
                                    </div>
                                    <div class="kt-wizard-v3__nav-bar"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--end: Form Wizard Nav -->
    
                </div>
                <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v3__wrapper">
                    <!--begin: Form Wizard Form-->
                    <form class="kt-form" id="kt_form">
                        <!--begin: Form Wizard Step 1-->
                        <div class="kt-wizard-v3__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                            <div class="kt-heading kt-heading--md">AUTO EVALUATION</div>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="kt-wizard-v3__form">
                                        <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-group">
                                                        <label>Evaluation des objectifs individuel</label>
                                                        <input type="text" class="form-control" name="objectif" [(ngModel)]="model.objectif" placeholder="objectif" value="objectif">
                                                        <span class="form-text text-muted">Please enter your Postcode.</span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group">
                                                        <label>Evaluation:</label>
                                                        <select name="evaluation" [(ngModel)]="model.evaluation" class="form-control">
                                                            <option value="NONE" selected>Choisir</option>
                                                            <option value="1">Performance amelioré</option>
                                                            <option value="2">Zone de conformité</option>
                                                            <option value="3">Objectif dépassé</option>
                                                            <option value="4">Performance exceptionnelle </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                            <div class="col-xl-6">
                                                    <div class="form-group">
                                                        <label>Commentaire</label>
                                                        <input type="textArea" class="form-control" name="commentaire" [(ngModel)]="model.commentaire" placeholder="commentaire" value="">
                                                        <span class="form-text text-muted">Please enter your Commentaire.</span>
                                                    </div>
                                                </div>
                                            </div>
                                    <div class="form-group">
                                        <label>Projet Professionel</label>
                                        <input type="text" class="form-control" name="projet" [(ngModel)]="model.projetProfessionel" placeholder="Projet Professionel" value="projetProfessionel">
                                        <span class="form-text text-muted">Please enter your Projet.</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Demande de formation </label>
                                        <input type="text" class="form-control" name="formation" [(ngModel)]="model.formation" placeholder="Demande de formation" value="formation">
                                        <span class="form-text text-muted">Please enter your formation.</span>
                                    </div>
                                    <div class="form-group">
                                            <label>Demande de certification </label>
                                            <input type="text" class="form-control" name="certification" [(ngModel)]="model.certification" placeholder="certification" value="certification">
                                            <span class="form-text text-muted">Please enter your certification.</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Evaluation des formations</label>
                                                <input type="textArea" class="form-control" name="formation" [(ngModel)]="model.formation" placeholder="formation" value="">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>&nbsp;</label>
                                                <input type="text" class="form-control" name="collaborateur" [(ngModel)]="model.collaborateur" placeholder="Evaluation Collaborateur XOXOXOXO?" value="?">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Form Wizard Step 1-->
    
                        <!--begin: Form Wizard Step 2-->
                        <div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
                            <div class="kt-heading kt-heading--md">Enter the Details of your Delivery</div>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="kt-wizard-v3__form">
                                    <div class="form-group">
                                        <label>Package Details</label>
                                        <input type="text" class="form-control" name="package" [(ngModel)]="model.package" placeholder="Package Details" value="Complete Workstation (Monitor, Computer, Keyboard & Mouse)">
                                        <span class="form-text text-muted">Please enter your Pakcage Details.</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Package Weight in KG</label>
                                        <input type="text" class="form-control" name="weight" [(ngModel)]="model.weight" placeholder="Package Weight" value="25">
                                        <span class="form-text text-muted">Please enter your Package Weight in KG.</span>
                                    </div>
                                    <div class="kt-wizard-v3__form-label">Package Dimensions</div>
                                    <div class="row">
                                        <div class="col-xl-4">
                                            <div class="form-group">
                                                <label>Package Width in CM</label>
                                                <input type="text" class="form-control" name="width" [(ngModel)]="model.width" placeholder="Package Width" value="110">
                                                <span class="form-text text-muted">Please enter your Package Width in CM.</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="form-group">
                                                <label>Package Height in CM</label>
                                                <input type="text" class="form-control" name="height" [(ngModel)]="model.height" placeholder="Package Length" value="90">
                                                <span class="form-text text-muted">Please enter your Package Width in CM.</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="form-group">
                                                <label>Package Length in CM</label>
                                                <input type="text" class="form-control" name="length" [(ngModel)]="model.length" placeholder="Package Length" value="150">
                                                <span class="form-text text-muted">Please enter your Package Length in CM.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Form Wizard Step 2-->
    
                        <!--begin: Form Wizard Step 3-->
                        <div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
                            <div class="kt-heading kt-heading--md">Select your Services</div>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="kt-wizard-v3__form">
                                    <div class="form-group">
                                        <label>Delivery Type</label>
                                        <select name="delivery" [(ngModel)]="model.delivery" class="form-control">
                                            <option value="">Select a Service Type Option</option>
                                            <option value="overnight" selected>Overnight Delivery (within 48 hours)</option>
                                            <option value="express">Express Delivery (within 5 working days)</option>
                                            <option value="basic">Basic Delivery (within 5 - 10 working days)</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Packaging Type</label>
                                        <select name="packaging" [(ngModel)]="model.packaging" class="form-control">
                                            <option value="">Select a Packaging Type Option</option>
                                            <option value="regular" selected>Regular Packaging</option>
                                            <option value="oversized">Oversized Packaging</option>
                                            <option value="fragile">Fragile Packaging</option>
                                            <option value="frozen">Frozen Packaging</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Preferred Delivery Window</label>
                                        <select name="preferreddelivery" [(ngModel)]="model.preferreddelivery" class="form-control">
                                            <option value="">Select a Preferred Delivery Option</option>
                                            <option value="morning" selected>Morning Delivery (8:00AM - 11:00AM)</option>
                                            <option value="afternoon">Afternoon Delivery (11:00AM - 3:00PM)</option>
                                            <option value="evening">Evening Delivery (3:00PM - 7:00PM)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Form Wizard Step 3-->
    
                        <!--begin: Form Wizard Step 4-->
                        <div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
                            <div class="kt-heading kt-heading--md">Setup Your Delivery Location</div>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="kt-wizard-v3__form">
                                    <div class="form-group">
                                        <label>Address Line 1</label>
                                        <input type="text" class="form-control" name="locaddress1" [(ngModel)]="model.locaddress1" placeholder="Address Line 1" value="Address Line 1">
                                        <span class="form-text text-muted">Please enter your Address.</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Address Line 2</label>
                                        <input type="text" class="form-control" name="locaddress2" [(ngModel)]="model.locaddress2" placeholder="Address Line 2" value="Address Line 2">
                                        <span class="form-text text-muted">Please enter your Address.</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Postcode</label>
                                                <input type="text" class="form-control" name="locpostcode" [(ngModel)]="model.locpostcode" placeholder="Postcode" value="3072">
                                                <span class="form-text text-muted">Please enter your Postcode.</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control" name="loccity" [(ngModel)]="model.loccity" placeholder="City" value="Preston">
                                                <span class="form-text text-muted">Please enter your City.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>State</label>
                                                <input type="text" class="form-control" name="locstate" [(ngModel)]="model.locstate" placeholder="State" value="VIC">
                                                <span class="form-text text-muted">Please enter your Postcode.</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Country:</label>
                                                <select name="loccountry" [(ngModel)]="model.loccountry" class="form-control">
                                                    <option value="">Select</option>
                                                    <option value="AF">Afghanistan</option>
                                                    <option value="AW">Aruba</option>
                                                    <option value="AU" selected>Australia</option>
                                                    <option value="AT">Austria</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Form Wizard Step 4-->
    
                        <!--begin: Form Wizard Step 5-->
                        <div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
                            <div class="kt-heading kt-heading--md">Review your Details and Submit</div>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="kt-wizard-v3__review">
                                    <div class="kt-wizard-v3__review-item">
                                        <div class="kt-wizard-v3__review-title">
                                            Current Address
                                        </div>
                                        <div class="kt-wizard-v3__review-content">
                                            Address Line 1<br/>
                                            Address Line 2<br/>
                                            Melbourne 3000, VIC, Australia
                                        </div>
                                    </div>
                                    <div class="kt-wizard-v3__review-item">
                                        <div class="kt-wizard-v3__review-title">
                                            Delivery Details
                                        </div>
                                        <div class="kt-wizard-v3__review-content">
                                            Package: Complete Workstation (Monitor, Computer, Keyboard & Mouse)<br/>
                                            Weight: 25kg<br/>
                                            Dimensions: 110cm (w) x 90cm (h) x 150cm (L)
                                        </div>
                                    </div>
                                    <div class="kt-wizard-v3__review-item">
                                        <div class="kt-wizard-v3__review-title">
                                            Delivery Service Type
                                        </div>
                                        <div class="kt-wizard-v3__review-content">
                                            Overnight Delivery with Regular Packaging<br/>
                                            Preferred Morning (8:00AM - 11:00AM) Delivery
                                        </div>
                                    </div>
                                    <div class="kt-wizard-v3__review-item">
                                        <div class="kt-wizard-v3__review-title">
                                            Delivery Address
                                        </div>
                                        <div class="kt-wizard-v3__review-content">
                                            Address Line 1<br/>
                                            Address Line 2<br/>
                                            Preston 3072, VIC, Australia
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Form Wizard Step 5-->
    
                        <!--begin: Form Actions -->
                        <div class="kt-form__actions">
                            <div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
                                Previous
                            </div>
                            <div (click)="onSubmit()" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
                                Submit
                            </div>
                            <div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
                                Next Step
                            </div>
                        </div>
                        <!--end: Form Actions -->
                    </form>
                    <!--end: Form Wizard Form-->
                </div>
            </div>
            <!--end: Wizard -->
    
        </kt-portlet-body>
    </kt-portlet>
    